{% extends 'base.html' %}
    {% block title  %}
    Testpage 
    {% endblock  %}
    {% block contant%}
        <h1>Home page!!!!</h1>
        
        <h3>{{number}}</h3>
        {% for x in range(10) %}
            {% if x%2==1 %}
                <p>{{x}}</p>
            {% elif x%2==0 %}
                <h3>{{x}}</h3>
            {% else %}
            <h3>error </h3>
            {% endif %}
            

        {% endfor %}

        {% for y in ary %}
        <h5>{{y}}</h5>
        {% endfor %}
    {% endblock%}


